@import '../../assets/styles/variables.scss';

.Footer {
  background: $grey-1;
  font-size: 0.8em;
  color: $grey-2;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}