.TitleDetail {
  .--items {
    overflow: auto;
    width: 100%;

    .--carousel {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      padding-bottom: 20px;

      .TitleVersionItem {
        margin-right: 10px;
        flex: 1 0 200px;
      }
    }
  }
}