@import './assets/styles/variables.scss';
@import './assets/styles/general.scss';

.EurecaApp{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .--content{
    padding: 20px
  }
}